{% extends 'base.html' %}

{% block title %}Basic Image Prompt Generator for Generative Artificial Intelligence{% endblock %}

{% block content %}

<div class="container">
  <h1 class="heading">Welcome to the AI Prompt Generator</h1>
  <p class="description">Click on a topic button to access the given prompt generator. This tool will help you create great prompts.</p>
</div>

<a
  class="btn btn-warning btn-lg"
  href="{{ url_for('basic') }}"
  role="button"
  >Basic Generator</a
>
<br><br>

<a
  class="btn btn-warning btn-lg"
  href="{{ url_for('generic.generic') }}"
  role="button"
  >Generic Generator <i>(Refactored)</i></a
>
<br><br>

<a
  class="btn btn-warning btn-lg"
  href="{{ url_for('character.character') }}"
  role="button"
  >Character Generator</a
>
<br><br>

<a
  class="btn btn-warning btn-lg"
  href="{{ url_for('landscape.landscape') }}"
  role="button"
  >Landscape Generator</a
>
<br><br>

<a
  class="btn btn-info btn-lg"
  href="{{ url_for('adobe.scrape') }}"
  role="button"
  >Adobe Image Data Webscrapping</a
>
<br><br>


{% endblock %}
